	<nav *ngIf="!params.first_visit" class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
		<div class="container">
		<a class="navbar-brand" href="/"><i class="icon ion-leaf green"></i> {{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<span class="navbar-text" *ngIf="params && !!params.confirmed_any_location">
								Your location:
								<span *ngIf="params.search_choice === searchKind.by_arrdt">{{ params.user_arrdt }}me arrondissement</span>
								<span *ngIf="params.search_choice === searchKind.by_coordinates">Within 250 m of [{{ params.user_coordinates[0] }}, {{params.user_coordinates[1] }}]</span>
							</span>
						</li>
			      <li class="nav-item" *ngIf="params && params.has_any_location && params.confirmed_any_location">
              <span class="nav-link" (click)="changeLocation()"><span class="green strong">Change</span></span>
			      </li>
			    </ul>
		</div>
		</div>
	</nav>
<div>

<app-home *ngIf="params.first_visit && !params.has_any_location"></app-home>
<app-map *ngIf="!params.first_visit && !params.confirmed_any_location"></app-map>
<app-trees *ngIf="!params.first_visit && params.has_any_location && params.confirmed_any_location"></app-trees>

</div>
