<div class="container mt-5 pt-5">
  <div class="d-flex flex-row align-items-center map-nav pb-4">

    <div class="d-2">
      <span id="showArrView" (click)="toggleMapMode($event)" [ngClass]="{'linkStyle': !mapService.show_arrdts}">Choose an arrondissement</span> or
      <span id="showAddressForm" (click)="toggleMapMode($event)" [ngClass]="{'linkStyle': mapService.show_arrdts}">enter your address</span>.
    </div>
    <div class="d-2 ml-2" *ngIf="!mapService.show_arrdts">
      <input id="autocomplete" [(ngModel)]="input" [options]=options (FormatAddress)="getFormattedAddress($event)" angularGooglePlace />
    </div>
    <div class="d-2 ml-2 text-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
    <div class="d-2 ml-auto">
        <div
        class="btn btn-primary"
        [ngClass]="{'disabled': !mapService.user_arrdt && !mapService.user_coordinates, 'btn-secondary': !mapService.user_arrdt && !mapService.user_coordinates}"
        (click)="go()" >
          Go
        </div>
    </div>
  </div>
  <div class="container map-container">
    <div id="map"></div>
  </div>
</div>
