@charset "UTF-8";

:root {
  --lgreen1: #dcedc8;
  --lgreen2: #aed581;
  --green: #689f38;
  --dgreen1: #558b2f;
  --dgreen2: #33691e;
}

.green {
  color: var(--green);
}
.greenbg {
  background-color: var(--green);
}

.strong {
  font-weight: bolder;
}

.container {
}

.map-nav {
  padding-left: 15px;
  padding-right: 15px;
}

.home-container {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* display: inline-block; */
  width: 100vw;
  padding-bottom: 56.25% /* 16:9 ratio */
}

.home-container img {
  display: none;
}

.home-jumbotron {
  background: none;
}

.arrdt-picker {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
}

.cell {
  justify-self: center;
  align-self: center;
  border: 1px solid orange;
}

#map, #treeMap {
  height: 400px;
  padding: 0;
  margin: 0
}

#treeMap {
  width: 400px;
}

#autocomplete {
  width: 300px;
}

.linkStyle {
  color: var(--green)
}

p {
  color: #444;
}

* {
  font-family: 'Abel', sans-serif
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 500px) {
  .home-jumbotron > p {
    display: none
  }
}
